/* base CSS */
* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

html, body {
  padding: 0;
  margin: 0;
}
body {
  color: #325050;
  font-family:"Georgia","Palatino Linotype", "Book Antiqua", Palatino, serif;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #333366;
  background-image: url('Img/raster.png');
  background-size: 1.7%;
}

header {
  height: 70px;
  width: 100%;
  padding: 00px 0 00px 0;
  background:#C0C0C0; 50% 0 ('Img/emp_ex.png') no-repeat; /* old IE fallback */
  background-image: url('Img/emp_ex.png');
  background-position: right bottom;
  background-repeat: repeat;
  background-size: auto 70px;
  
  text-align: left;
  position:relative;
}
footer{
  width: 90%;
  left:5%;
  clear: both;
  background-color:#FFFFFF;
  position: relative;
  display: block;
}
nav{
  top:90px;
  width:120px;
  right:14%;
  position:absolute;
  z-index:3;
  line-height: 100%;
}
  /*left:73%;*/
#maintext{
  float: none;
  width: 90%;
  left:5%;
  min-height: 400px;
  background-color:#FFFFFF;
  overflow:hidden;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
}

#midthird{
  float: none;
  width: 85%;
  left: 0%;
  overflow:hidden;
  position: relative;
}

  

a {
  color: #0d8ba1;
  /*-webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;*/
  display:inline;
  text-decoration: none;
}
  a:visited {
    color: #1a5952;
  }
  a:hover, a:focus {
    color: #0599c2;
    text-decoration: underline;
  }


h1 {
  color: #2e484c;
  padding-top: 8px;
  padding-bottom: 4px;
  font-family: 'Julius Sans One', sans-serif;
  font-family:"Georgia","Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 2.2em;
}
h2 {
  color: #2e484c;
  padding-top: 5px;
  border-top: none;
  font-family:"Georgia","Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 2em;
}

h3 {
  color: #2e484c;
  font-family:"Georgia","Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 1.8em;
  font-weight: normal;
}

p {
  margin: 0.75em 0;
  line-height: 1.5;
}
.text-center {
  text-align: center;
}
.text-indent {
  padding-left: 30px;
}
.text-indent2 {
  padding-left: 60px;
}



